<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Estadísticas</h1>
    
    <section class="estadisticas-graficos">
        <h2>Gráficos</h2>
        <div class="grafico-container">
            <img src="{{ url_for('static', filename='images/graficos_por_actividad.png') }}" alt="Grafico por actividad" width="500">
        </div>
        <br><br>
        <div class="grafico-container">
            <img src="{{ url_for('static', filename='images/graficos_total_actividades.png') }}" alt="Grafico total de actividades" width="500">
        </div>
    </section>
    <br><br>

    <a href="{{ url_for('index') }}">Volver a Inicio</a>
</body>
</html>
