<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Listado</h1>

    <section>
        <h2>Registros de actividades</h2>
        <div id="contenedor-listado">
            <p>Cargando listado...</p>
        </div>
    </section>

    <a href="{{ url_for('index') }}">Volver a Inicio</a>
    <script src="{{ url_for('static', filename='js/listado.js') }}"></script>
</body>
</html>
